@keyframes swordAttack {
    from {
        opacity: 1;
        transform: translate(100%, -0%);
    }
    to {
        opacity: 0.5;
        transform: translate(250%, -100%);
    }
}

.sword-animation {
    position: absolute;
    animation: swordAttack 2s ease-out forwards;
    width: 300px;
    height: 300px;
    left: 300px;
    bottom: 0px;
}