/* WelcomePage.module.css */
.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #1E1E1E; /* 배경색 */
    background: linear-gradient(
            180deg,
            rgba(0,0,128,1) 0%,
            rgba(102, 104, 129, 1) 33%,
            rgba(71, 88, 165, 1) 66%,
            rgba(145, 118, 198, 1) 100%
    ); /* 그라데이션 배경 */
    font-family: 'Arial', sans-serif;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo {
    border: 0px solid white;
    font-family: 'DungGeunMo';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 15em; /* 로고 크기 */
    color: #FFFFFF; /* 로고 색상 */
    text-transform: uppercase; /* 대문자 변환 */
    margin-top: 2rem;
}

.character {
    border: 1px solid white;
    width: 400px; /* 캐릭터 크기 */
    margin-top:-10em; /* 로고와 겹치도록 위치 조정 */
}

.divcss{
    border: 1px solid red;
}

.guideText {
    color: #FFFFFF;
    margin-bottom: 3em;
}

.button {
    background-color: #6C63FF; /* 버튼 색상 */
    border: none;
    border-radius: 20px; /* 버튼 둥글게 */
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    margin-bottom: 2em;
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}